.container-fluid {
  background-color: aqua;
  width: 100%;
  height: 10%;
  display: flex;
}
ul li {
display: flex;
list-style: none;
font-family: 'Times New Roman', Times, serif;

}
.nav-link{
  display: flex;
color: black;
font-display: flex;
}